/* IDs, classes, and elements */
/* 
selector {
    property: value;
    property: value;
 }
*/
/*ID > Classes > Elements*/
.green-text {
    color: green;
    font-size: 20px;
}
.list-title {
    color: rgb(244, 62, 241);
    font-weight: bold;
    width: 100px;
    padding: 10px;
}
#first-li{
    color: red
}
.first-li {
    color: blue
}
